{% extends 'base_templates/base_page.html' %}

{% load static %}
{% block main %}
<div class="wrapper bgded overlay light" style="background-image:url('{% static 'my_blog/images/home_main_p1-v1.jpg' %}');">
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">Hello !</h3>
      <p>Welcome to Qile's site!</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="#">Enter ></a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
{% endblock %}